{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyConditionsCmd": "dotnet build ./template.csproj && dotnet build ./HexagonalArch.sln",
        "prepareCmd": "dotnet pack ./template.csproj -c Release -p:Version=${nextRelease.version} -o ./package",
        "publishCmd": "dotnet nuget push ./package/*.nupkg --source https://www.nuget.org/api/v2/package --api-key ${process.env.NUGET}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/CHANGELOG.md"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}