{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyConditionsCmd": "dotnet build ./template.csproj && dotnet build ./HexagonalArch.sln",
        "prepareCmd": "export RELEASE_VERSION='${nextRelease.version}' && dotnet pack ./template.csproj -c Release -o ./package && dotnet nuget push ./package/*.nupkg --api-key $NUGET_API_KEY --no-service-endpoint"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/CHANGELOG.md"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}